<!-- property binding: assign a state to our div element -->
<p>Applied state from trigger</p>
<div
  [@clickedState]="'default'">
</div>

<hr>

<!-- Click listener used change the value of string 'clickInfo' to 'clicked', which is ofcourse a state defined within our trigger.
     - that will change the state to this div-element. -->
<p>Click listener used to change state:</p>
<div
  (click) = "clickInfo = 'clicked'"
  [@clickedState]="clickInfo">
</div>

<hr>

<p>function used to change state</p>
<div
  (click) = "onClickInfo()"
  [@clickedState]="clickInfo">
</div>

<hr>

<p>mousedown handler to change state:</p>
<div
  (click) = "onClickInfo()"
  (mousedown) = "clickInfo = 'mousedown'"
  [@clickedState]="clickInfo">
</div>

<hr>

<p 
  (click)="paragraphInfo = 'clicked'"
  [@clickedState]="paragraphInfo">paragraph text
</p>

<hr>
<input type="number" (input)="numberEntered = $event.target.value">
<br><br>
<!-- highlight the correct span based on whether the input above equals the span value in between the span html elements: -->
<span [@numberEnteredState]="numberEntered == 1 ? 'selected' : 'unselected'">1</span>
<span [@numberEnteredState]="numberEntered == 2 ? 'selected' : 'unselected'">2</span>
<span [@numberEnteredState]="numberEntered == 3 ? 'selected' : 'unselected'">3</span>
<span [@numberEnteredState]="numberEntered == 4 ? 'selected' : 'unselected'">4</span>
<span [@numberEnteredState]="numberEntered == 5 ? 'selected' : 'unselected'">5</span>
<span [@numberEnteredState]="numberEntered == 6 ? 'selected' : 'unselected'">6</span>
<span [@numberEnteredState]="numberEntered == 7 ? 'selected' : 'unselected'">7</span>
<span [@numberEnteredState]="numberEntered == 8 ? 'selected' : 'unselected'">8</span>
<span [@numberEnteredState]="numberEntered == 9 ? 'selected' : 'unselected'">9</span>